input {
  height: 30px;
  width: 90%;
  margin: 0 30px;
  border: 1px solid #e91e63;
  border-radius: 3px;
  padding: 5px;
}

.FormRow {
  margin: 20px 0;
}

@media (min-width: 1025px) {
  input {
    width: 60%;
  }
}
